@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);
--Green: hsl(75, 94%, 57%);
--Family: "inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* border: 4px solid red; */
    background-color: var(--Off-Black);
}  
main{
    /* border: 4px solid blue; */
    border-radius: 13px;
     padding: 50px;
     background-color: var(--Dark-Grey);
     color: var(--White);
     font-family: var(--Family);
     /* max-width: 920px;
     flex-wrap: wrap;
     overflow: hidden; */
     
}
h1{
    font-weight: 400;
    padding-left: 49px;
}
#color{
    color: var(--Green);
    margin: 10px;
    font-weight: 600;
    padding-left: 50px;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight:700 ;
}
img{
  border-radius: 500%;
    /* border-radius: 100px; */
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.button{
    flex: 1;
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:green;
    /* height: 5px; */
    
}
/* button{ */
.btn{
    background-color: var(--Grey);
    color: var(--White);
    font-weight: 700;
    border-radius: 10px;
    padding: 9px ;
    border: none;
    cursor: pointer ;
}

.btn:hover{
    background-color: var(--Green);
}
/* @media(max-width:768px){
main{
border-radius: 13px ;
     padding: 100px ; 
     margin: 50px ;
     margin-top: 30px;
     margin-bottom: 100px;
     margin-left: 20px;

}
} */

@media (max-width: 375px) {
  main {
    box-sizing: border-box;
   padding:  30px 20px;
  }

  /* img {
    width: 80px;
    height: 80px;
  }

  h1, p {
    text-align: center;
  }

  .btn {
    font-size: 13px;
    padding: 10px;
  } */
}